body{
    color: white;
    background-color:  rgb(11, 10, 20);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


ul{
    list-style: none;
    padding: 20px;
}


a{
    text-decoration: none;
    color: white;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 25%;
    border: 7px solid white;
}


.foto{
    padding-left: 45px;
}

h1{
    text-align: center;
}
